body{font:20px Montserrat, sans-serif;}
.navigation{
      padding: 20px 0 ;
}
.navbar, .navbar-default {
      background-color: #fff !important;
      border:none;
}


.navbar-brand img{

      max-width:90px;
      max-height: 100px;
      margin-top: -28px;

}
 .navbar-toggle{
      border:none;

}
.banner{
      background-image: url(../Images/bg01.jpg);
      background-size: cover;
      background-attachment: fixed;
      padding:200px 0 280px 0;
}
.banner .block{
      text-align: center;
      color:#E3E3E4;
}

section.about{
      padding:90px 0;
      background-color: #f2f2f2;
}
.about .block img{
      width:100%
}

section.service{

      text-align:center;
}

.service .section-title{
      padding:60px 0;
}
.service  .service-item{
      margin-bottom: 30px;
}
